body {
  padding: 30vh 1em 0;
  background: #f6f2e7;
}
.credit {
  text-align: center;
  z-index: 999;
  font-size: 1rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
.credit a {
  color: #070707;
}
svg {
  height: 100%;
  width: 100%;
}

.center {
  margin: 0 auto;
}

.large {
  width: 30vmin;
}

h1 {
  font-size: 8vmin;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, sans-serif;
  color: #1f74fb;
}

.glow {
  position: relative;
}
.glow::before {
  content: "";
  display: block;
  border-radius: 50%;
  width: 100%;
  padding-bottom: 100%;
  position: absolute;
  top: -30%;
  left: 0;
  background: #ffac33;
  z-index: -1;
  -webkit-animation: glow 4s infinite;
          animation: glow 4s infinite;
}
.glow::after {
  content: "";
  display: block;
  border-radius: 50%;
  width: 100%;
  padding-bottom: 50%;
  position: absolute;
  top: 55%;
  left: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: -1;
  -webkit-animation: glow 4s infinite;
          animation: glow 4s infinite;
}

@-webkit-keyframes glow {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  50% {
    transform: scale(1.25);
    opacity: 0.2;
  }
  100% {
    transform: scale(1);
    opacity: 0.4;
  }
}

@keyframes glow {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  50% {
    transform: scale(1.25);
    opacity: 0.2;
  }
  100% {
    transform: scale(1);
    opacity: 0.4;
  }
}